[Unit]
Description=Logstash shipper service

# Requirements
Requires=docker.service
Requires=fleet.service
Requires=consul.service

# Dependency ordering and binding
After=docker.service
After=fleet.service
After=consul.service

[Service]
TimeoutStartSec=10m

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment
Environment="ES_CLUSTER=es01" "REDIS_HOST=redis.com"

ExecStop=-/usr/bin/docker stop %p
ExecStop=-/usr/bin/docker kill %p

ExecStartPre=/usr/bin/docker pull cgswong/logstash

ExecStart=/bin/bash -c '\
es_host=$(/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/proxy -XGET | grep host)'
es_port=$(/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/es/${ES_CLUSTER}/proxy -XGET | grep port)'
/usr/bin/docker run --name %p \
  --publish 5000:5000 \
  --publish 5000:5000/udp \
  --publish 5002:5002 \
  --publish 5004:5004 \
  --publish 5100:5100 \
  --publish 5200:5200 \
  --hostname %H \
  --env ES_CLUSTER=${ES_CLUSTER} \
  --env ES_HOST=$es_host \
  --env ES_PORT=${ES_PORT} \
  --env REDIS_HOST=${REDIS_HOST} \
  cgswong/logstash

# Update Service Discovery with initial Logstash host
ExecStartPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/logstash/host/${COREOS_PRIVATE_IPV4} -XPUT -d "%H"

ExecStop=-/usr/bin/docker stop %p
ExecStop=-/usr/bin/docker kill %p
ExecStop=-/usr/bin/docker rm %p

# Remove Logstash host from Service Discovery
ExecStopPost=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/services/logging/logstash/host/${COREOS_PRIVATE_IPV4} -XDELETE

[X-Fleet]
Conflicts=%p.service
